.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name
        = current_user.name
      .side-bar__user-name__top-items__icons
        = link_to "#", class: "icon" do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icon')
  .side-bar__group-list
    .side-bar__group-list__box
      .side-bar__group-list__box__group-name
        Test
      .side-bar__group-list__box__messages
        まだメッセージがありません
  